<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Project</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="main.js"></script>
</head>
<body>
    <h1 id="project-title">School Database GUI</h1>
    <div id="form-div">
        <form id="form-holder">
            <div class="label-div">
                <label for="Department">Enter Department</label>
                <input type="text" name="Department" id="Department">
            </div>

            <div class="label-div">
                <label for="Faculty">Enter Faculty</label>
                <input type="text" name="Faculty" id="Faculty">
            </div>

            <div class="label-div">
                <label for="Program">Enter Program</label>
                <input type="text" name="Program" id="Program">
            </div>

            <div class="label-div">
                <label for="Course">Enter Course</label>
                <input type="text" name="Course" id="Course">
            </div>

            <div class="label-div">
                <label for="Section">Enter Department</label>
                <input type="text" name="Section" id="Section">
            </div>

            <div class="label-div">
                <label for="Learning-Objective">Enter Learning Objective</label>
                <input type="text" name="Learning-Objective" id="Learning-Objective">
            </div>

            <div class="label-div">
                <label for="Sub-Objective">Enter Sub Objective</label>
                <input type="text" name="Sub-Objective" id="Sub-Objective">
            </div>

            <div class="button-div">
                <button type="submit" id="submit-button">Submit Data</button>
            </div>
        </form>
    </div>
</body>
</html>