<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>University System</title>
    <link th:href="@{style.css}" rel="stylesheet"/>
</head>

<body>

<!-- Sidebar -->
<nav id="sidebar">
    <h3>University System</h3>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/departments">Departments</a>
        </li>
        <li>
            <a href="/programs">Programs</a>
        </li>
        <li>
            <a href="/evaluations">Evaluations</a>
        </li>
        <!-- Add more sidebar items as needed -->
    </ul>
</nav>
<!-- Main content -->
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Department Form</h4>
                        <form class="form" th:action="@{/processDepartmentForm}" th:object="${Departments}"
                              method="post">
                            <div class="form-group">
                                <label for="programName">Enter Department Code:</label>
                                <input type="text" class="form-control" id="departmentCode" th:field="*{departmentCode}"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="programName">Enter Department Name:</label>
                                <input type="text" class="form-control" id="departmentName"
                                       th:field="*{departmentName}"
                                       required>
                            </div>

                            <button type="submit" class="btn btn-primary mt-5">Create Department</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Faculty Members Form</h4>
                        <form class="form" th:action="@{/processFacultyForm}" th:object="${FacultyMembers}"
                              method="post">
                            <div class="form-group">
                                <label for="facultyId">Faculty Id:</label>
                                <input type="text" class="form-control" id="facultyId" th:field="*{facultyId}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="facultyName">Faculty Name:</label>
                                <input type="text" class="form-control" id="facultyName" th:field="*{facultyName}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email:</label>
                                <input type="text" class="form-control" id="emailAddress" th:field="*{emailAddress}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="facultyRank">Faculty Rank:</label>
                                <select class="form-control" id="facultyRank" th:field="*{facultyRank}" required>
                                    <option th:each="rank : ${T( com.smu.databasesystem.model.FacultyRank).values()}"
                                            th:value="${rank}"
                                            th:text="${#strings.capitalize(rank.name())}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="departmentCode">Select Department:</label>
                                <select class="form-control" id="departmentCode" th:field="*{departmentCode}"
                                        required>
                                    <option th:each="department : ${departments}"
                                            th:value="${department.departmentCode}"
                                            th:text="${department.departmentName}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Create Faculty</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Program Form</h4>
                        <form class="form" th:action="@{/processProgramForm}" th:object="${Programs}" method="post">
                            <div class="form-group">
                                <label for="programName">Program Name:</label>
                                <input type="text" class="form-control" id="programName" th:field="*{programName}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="departmentCode">Select Department:</label>
                                <select class="form-control" id="departmentCode" th:field="*{departmentCode}"
                                        required>
                                    <option th:each="department : ${departments}"
                                            th:value="${department.departmentCode}"
                                            th:text="${department.departmentName}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="facultyId">Select Head of Program:</label>
                                <select class="form-control" id="facultyId" th:field="*{headOfProgramId}"
                                        required>
                                    <option th:each="faculty: ${faculties}" th:value="${faculty.facultyId}"
                                        th:text="'Name: ' + ${faculty.facultyName} + ' Dept: ' + ${faculty.getDepartmentCode()}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Create Program</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Course Form</h4>
                        <form class="form" th:action="@{/processCourseForm}" th:object="${Courses}" method="post">
                            <div class="form-group">
                                <label for="courseId">Course ID:</label>
                                <input type="text" class="form-control" id="courseId" th:field="*{courseId}"
                                       pattern="[0-9]{4}" title="Please enter a 4-digit number" required>
                                <small class="form-text text-muted">Please enter a 4-digit number.</small>
                            </div>
                            <div class="form-group">
                                <label for="courseTitle">Course Title:</label>
                                <input type="text" class="form-control" id="courseTitle" th:field="*{courseTitle}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="courseDescription">CourseDescriptiopn:</label>
                                <textarea class="form-control" id="courseDescription"
                                          th:field="*{courseDescription}" required/>
                            </div>
                            <div class="form-group">
                                <label for="departmentCode">Select Department:</label>
                                <select class="form-control" id="departmentCode" th:field="*{departmentCode}"
                                        required>
                                    <option th:each="department : ${departments}"
                                            th:value="${department.departmentCode}"
                                            th:text="${department.departmentName}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Create Course</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Section Number</h4>
                        <form class="form" th:action="@{/processSectionForm}" th:object="${Sections}" method="post">
                            <div class="form-group">
                                <label for="sectionNumber">Section Id: </label>
                                <input type="text" class="form-control" id="sectionNumber"
                                       th:field="*{sectionNumber}"
                                       required>
                                <small class="form-text text-muted">Please enter a positive number between (001-999).</small>
                            </div>
                            <div class="form-group">
                                <label for="courseId">Select Course:</label>
                                <select class="form-control" id="courseId" th:field="*{courseId}"
                                        required>
                                    <option th:each="course : ${courses}"
                                            th:value="${course.courseId}"
                                            th:text="${course.courseTitle}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="semester">Semester:</label>
                                <select class="form-control" id="semester" th:field="*{semester}" required>
                                    <option th:each="semester : ${T( com.smu.databasesystem.model.Semester).values()}"
                                            th:value="${semester}"
                                            th:text="${#strings.capitalize(semester.name())}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="facultyId">Select Faculty:</label>
                                <select class="form-control" id="facultyId" th:field="*{facultyId}"
                                        required>
                                    <option th:each="faculty: ${faculties}"
                                            th:value="${faculty.facultyId}"
                                            th:text="${faculty.facultyName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="enrolledStudents">Enrolled Students: </label>
                                <input type="text" class="form-control" id="enrolledStudents"
                                       th:field="*{enrolledStudents}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="year">Year: </label>
                                <input type="text" class="form-control" id="year"
                                       th:field="*{year}"
                                       required>
                            </div>
                            <button type="submit" class="btn btn-info">Create Sections</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Learning Objective Form</h4>
                        <form class="form" th:action="@{/processLearningObjective}" th:object="${LearningObjectives}"
                              method="post">
                            <div class="form-group">
                                <label for="objectiveCode">Objective Code:</label>
                                <input type="text" class="form-control" id="objectiveCode" th:field="*{objectiveCode}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="programId">Select Program:</label>
                                <select class="form-control" id="programId" th:field="*{programId}"
                                        required>
                                    <option th:each="program : ${programs}"
                                            th:value="${program.programId}"
                                            th:text="${program.programName}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Create Objective</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Sub Objective Form</h4>
                        <form class="form" th:action="@{/processLearningSubObjective}" th:object="${SubObjectives}"
                              method="post">
                            <div class="form-group">
                                <label for="subObjectiveCode">SubObjective Code:</label>
                                <input type="text" class="form-control" id="subObjectiveCode" th:field="*{subObjectiveCode}"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="objectiveCode">Select Objective Code:</label>
                                <select class="form-control" id="objectiveCode" th:field="*{objectiveCode}"
                                        required>
                                    <option th:each="objective : ${learningObjectives}"
                                            th:value="${objective.objectiveCode}"
                                            th:text="${objective.objectiveCode}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description: </label>
                                <textarea type="text" class="form-control" id="description" th:field="*{description}"
                                          required/>
                            </div>
                            <button type="submit" class="btn btn-info">Create Sub Objective</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Program-Course Pairing Form</h4>
                        <form class="form" th:action="@{/processProgramCoursesForm}" th:object="${ProgramCourses}"
                              method="post">
                            <div class="form-group">
                                <label for="programId">Select Program:</label>
                                <select class="form-control" id="programId" th:field="*{programId}"
                                        required>
                                    <option th:each="program : ${programs}"
                                            th:value="${program.programId}"
                                            th:text="'Dept: '+ ${program.getDepartmentCode()}
                                            + 'Program: '+${program.programName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="courseId">Select Course:</label>
                                <select class="form-control" id="courseId" th:field="*{courseId}"
                                        required>
                                    <option th:each="course : ${courses}"
                                            th:value="${course.courseId}"
                                            th:text="${course.courseTitle}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Create Pairing</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Subobjective Assignment Form</h4>
                        <form class="form" th:action="@{/processProgramObjectivesForm}" th:object="${ProgramObjectives}" method="post">
                            <div class="form-group">
                                <!-- TODO: Should only be programs that have a program-course pairing -->
                                <label for="programId">Select Program:</label>
                                <select class="form-control" id="programId" th:field="*{programId}"
                                        required>
                                    <option th:each="program : ${programs}"
                                            th:value="${program.programId}"
                                            th:text="${program.programName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- TODO: Should only be courses associated with the above program -->
                                <label for="courseId">Select Course:</label>
                                <select class="form-control" id="courseId" th:field="*{courseId}"
                                        required>
                                    <!-- TODO: Should use course name instead of ID -->
                                    <option th:each="programCourse : ${programCourses}"
                                            th:value="${programCourse.courseId}"
                                            th:text="${programCourse.courseId}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="objectiveCode">Select Objective Code:</label>
                                <select class="form-control" id="objectiveCodeSpec" th:field="*{objectiveCode}"
                                        required>
                                    <option th:each="objective : ${learningObjectives}"
                                            th:value="${objective.objectiveCode}"
                                            th:text="${objective.objectiveCode}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- TODO: Should only be subobjectives associated with the above objective -->
                                <label for="subObjectiveCode">Select Subobjective Code:</label>
                                <select class="form-control" id="subObjectiveCode" th:field="*{subObjectiveCode}"
                                        required>
                                    <option th:each="subObjective : ${subObjectives}"
                                            th:value="${subObjective.subObjectiveCode}"
                                            th:text="${subObjective.subObjectiveCode}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info">Assign Objective</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Evaluation Results Form</h4>
                        <form class="form" th:action="@{/processEvaluationForm}" th:object="${EvaluationResults}" method="post">
                            <div class="form-group">
                                <label for="programId">Select Section:</label>
                                <select class="form-control" id="sectionNumber" th:field="*{sectionNumber}"
                                        required>
                                    <option th:each="section : ${sections}"
                                            th:value="${section.sectionNumber}"
                                            th:text="${section.sectionNumber}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="courseId">Select Subobjective:</label>
                                <select class="form-control" id="subObjectiveCode" th:field="*{subObjectiveCode}"
                                        required>
                                    <option th:each="subObjective : ${subObjectives}"
                                            th:value="${subObjective.subObjectiveCode}"
                                            th:text="${subObjective.subObjectiveCode}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="evaluationMethod">Evaluation Method:</label>
                                <textarea class="form-control" id="evaluationMethod"
                                          th:field="*{evaluationMethod}" required></textarea>
                            </div>
                            <div class="form-group">
                                <!-- Needs to make sure it does not exceed section.enrolledStudents -->
                                <label for="studentsMet">Number of Students Meeting Subobjective:</label>
                                <input type="text" class="form-control" id="studentsMet" th:field="*{studentsMet}"
                                       pattern="^[0-9]+$" title="Please enter a positive number" required>
                                <small class="form-text text-muted">Please enter a positive number.</small>
                            </div>
                            <button type="submit" class="btn btn-info">Submit Evaluation</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div th:if="${successMessage}" class="alert alert-success toaster" role="alert">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${failureMessage}" class="alert alert-danger toaster" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#subObjectiveProgram").change(function () {-->
<!--            var selectedProgramId = $(this).val();-->

<!--            $.ajax({-->
<!--                url: '/fetchCourses',-->
<!--                type: 'GET',-->
<!--                data: {programId: selectedProgramId},-->
<!--                success: function (data) {-->
<!--                    console.log(data);-->

<!--                    // Update the courses dropdown with the retrieved data-->
<!--                    var coursesDropdown = $("#subObjectiveCourseId");-->
<!--                    var learningObjectiveCodeDropdown = $("#subLearningObjectiveCode");-->
<!--                    var subLearningSubObjectiveCode = $("#subLearningSubObjectiveCode");-->

<!--                    coursesDropdown.empty(); // Clear existing options-->
<!--                    learningObjectiveCodeDropdown.empty();-->
<!--                    subLearningSubObjectiveCode.empty();-->

<!--                    // Append new options based on the fetched data-->
<!--                    for (var i = 0; i < data.length; i++) {-->
<!--                        console.log(data);-->
<!--                        var course = $("<option>")-->
<!--                            .val(data[i].course_id)-->
<!--                            .text(data[i].course_title);-->
<!--                        var learningCode = $("<option>")-->
<!--                            .val(data[i].objective_code)-->
<!--                            .text(data[i].objective_code);-->
<!--                        var subObjectiveCode = $("<option>")-->
<!--                            .val(data[i].sub_objective_code)-->
<!--                            .text(data[i].sub_objective_code);-->
<!--                        coursesDropdown.append(course);-->
<!--                        learningObjectiveCodeDropdown.append(learningCode)-->
<!--                        subLearningSubObjectiveCode.append(subObjectiveCode)-->
<!--                    }-->
<!--                },-->
<!--                error: function (error) {-->
<!--                    console.error('Error fetching courses:', error);-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>