<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Page</title>
    <link th:href="@{style.css}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav id="sidebar">
    <h3>University System</h3>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/departments">Departments Info</a>
        </li>
        <li>
            <a href="/programs">Programs Info</a>
        </li>
        <li>
            <a href="/evaluations">Evaluations Info</a>
        </li>
        <!-- Add more sidebar items as needed -->
    </ul>
</nav>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Program Details For <span th:if="${programMessage}"
                                                             th:text="${programMessage}"></span></h2>
            <form th:action="@{/programs}" method="get" class="mb-4">
                <div class="form-group">
                    <label for="programSelector">Select a Program:</label>
                    <select id="programSelector" name="programId" class="form-control">
                        <option value="">-- Select --</option>
                        <!-- Populate courses options dynamically from your model -->
                        <option th:each="program: ${programs}" th:value="${program.getProgramId()}"
                                th:text="${program.getProgramName()}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Display Program Details</button>
            </form>

            <div>
                <h3>Courses in the Program:</h3>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Course Id</th>
                        <th>Objective Code</th>
                        <th>SubObjective Code</th>
                    </tr>
                    </thead>
                    <tbody th:each="course,stat : ${programObjectives}">
                    <tr>
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${course.courseId}"></td>
                        <td th:text="${course.objectiveCode}"></td>
                        <td th:text="${course.subObjectiveCode}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5">
                <h3>Objectives In the Program:</h3>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Objective Code</th>
                    </tr>
                    </thead>
                    <tbody th:each="objective, stat : ${programObjectives}">
                    <tr>
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${objective.objectiveCode}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
